@font-face {
  font-family: 'latoblack';
  src: url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoblack_italic';
  src: url("../fonts/lato-blackitalic-webfont.woff2") format("woff2"), url("../fonts/lato-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold_italic';
  src: url("../fonts/lato-bolditalic-webfont.woff2") format("woff2"), url("../fonts/lato-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline-webfont.woff2") format("woff2"), url("../fonts/lato-hairline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline_italic';
  src: url("../fonts/lato-hairlineitalic-webfont.woff2") format("woff2"), url("../fonts/lato-hairlineitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoitalic';
  src: url("../fonts/lato-italic-webfont.woff2") format("woff2"), url("../fonts/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight_italic';
  src: url("../fonts/lato-lightitalic-webfont.woff2") format("woff2"), url("../fonts/lato-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/* ========================================== 
=============================================

				UNIVERSAL STYLE 
		
========================================== 
============================================= */
* {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

html {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'latoregular';
  background: #D9E3EC;
  height: 100%;
  min-height: 100%;
  padding-top: 180px;
  background: url("../images/bg-services.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px; }

.full-fluid {
  float: left;
  width: 100%; }

.no-gutter {
  padding: 0 !important; }

.pad-left-null {
  padding-left: 0 !important; }

.pad-right-null {
  padding-right: 0 !important; }

a, a:hover {
  text-decoration: none; }

.no-floating {
  float: none; }

.capitalize {
  text-transform: uppercase; }

h1 {
  font-size: 38px; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.pointer {
  cursor: pointer; }

.tan-red-bg {
  background: #f5866c; }

.tan-yellow-bg {
  background: #F8C625; }

.tan-green-bg {
  background: #00968A; }

/* ========================================== 
=============================================

				GLOBAL STYLE 
		
========================================== 
============================================= */
.material-icons.icon-sm {
  font-size: 38px; }
  @media only screen and (max-width: 859px) {
    .material-icons.icon-sm {
      font-size: 28px; } }
  @media only screen and (max-width: 366px) {
    .material-icons.icon-sm {
      font-size: 20px; } }

.rel-position {
  position: relative; }

.gutter_btm_20 {
  margin-bottom: 20px; }

/* ========================================== 
=============================================

				LOGIN SCREEN 
		
========================================== 
============================================= */
.custom-dropdown {
  float: left;
  padding: 5px 8px;
  position: relative;
  cursor: pointer;
  background: #ccc;
  padding: 9px 5px;
  /* ============================ FOR INPUT TEXT FIELD ============================ */ }
  .custom-dropdown input[type="text"] {
    color: transparent;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background: none;
    border: none; }
  .custom-dropdown i {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 999; }
  @media only screen and (max-width: 480px) {
    .custom-dropdown {
      width: 100%;
      margin-right: 5px; } }

.custom-dropdown > a {
  float: left;
  height: 20px;
  float: left;
  width: 100%;
  text-decoration: none; }

.custom-dropdown.show > ul {
  width: 100%;
  margin: 0;
  height: inherit;
  opacity: 1;
  z-index: 99; }

.custom-dropdown > ul {
  height: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  /* display:none; */
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #333;
  padding: 0px;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  background: #fff; }

.custom-dropdown li.sub-list > ul {
  /* display:none; */
  height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: all 0.5s ease; }

.custom-dropdown li.sub-list.show-sub > ul {
  /* display:block; */
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  background: #f3f3f3;
  transition: all 0.5s ease; }

.custom-dropdown.prohibeted > ul {
  /* display:block; */
  margin: 0;
  height: 150px;
  transition: all 0.5s ease;
  opacity: 1; }

.custom-dropdown.prohibeted.show > ul {
  /* display:none; */
  height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: all 0.5s ease; }

.custom-dropdown li {
  padding: 8px 20px;
  line-height: 25px;
  border-bottom: 1px solid #f9f9f9;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin: 1px; }

.custom-dropdown li:hover {
  background: #f9f9f9; }

.sub-list.show-sub:hover {
  background: none; }

.sub-list > i {
  transition: all 0.5s ease; }

.sub-list.show-sub > i {
  transform: rotate(90deg);
  transition: all 0.5s ease; }

.table-fixed thead {
  width: 97%; }
  .table-fixed thead tr th {
    float: left;
    border-bottom-width: 0; }

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%; }
  .table-fixed tbody td {
    float: left;
    border-bottom-width: 0; }

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block; }

.panel-default > .panel-heading {
  background: #00467f; }

/*# sourceMappingURL=custome-style.css.map */
