// BACKGROUD COLORS -- MAIN COLORS
$black:#000;
$white:#fff;
$semi-white:#f2f2f2;
$semi-grey:#c5c4c4;
$middle-grey:#e9e9e9;
$light-grey: #d0d1d4;
$lighter-grey:#babcbe;
$jungle-green:#2ab280;
$oxley-green:#69a583;
$oxley-dark-green:#4f7f65;
$bright-sky:#548dc3;
$purple:#7f0280;
$footer-bg:#222222;


// FONT SIZES
$font-extalarge:70px;
$font-biggest:44px;
$font-bigger:38px;
$font-big:30px;
$font-medium:22px;
$font-medium-intern:28px;
$font-semimedium:18px;
$font-default:13px;
$font-small:16px;
$font-smaller:14px;
// $font-smallest:12px;

// FONT COLORS
$color-white:#fff;
$color-semiwhite:#dfe5e4;


// BREAKPOINTS

$large-device : 'min-width: 1200px';
$desktop : 'max-width: 1199px';
$medium-landscape : 'max-width : 1024px';
$medium-intermediate : 'max-width : 991px';
$medium-intermediate-2 : 'max-width : 859px';
$medium-potrait : 'max-width : 768px';
$mobile : 'max-width : 767px';
$imobile-6-landscape : 'max-width : 667px';
$mobile-intermediate : 'max-width : 599px';
$extra-samll-landscape : 'max-width : 480px';
$extra-samll-intemediate : 'max-width : 366px';
$extra-samll-potrait : 'max-width : 320px';

