@import 'variable';
@import 'font';
@import 'mixins';


/* ========================================== 
=============================================

				UNIVERSAL STYLE 
		
========================================== 
============================================= */
*{
@include transition(all 0.3s ease .0s);
}

html{height: 100%;}

body{margin:0px; padding:0px;font-family: 'latoregular';background: $nhc-lightsky; height: 100%; min-height: 100%; padding-top: 180px;background: url("../images/bg-services.jpg") no-repeat center;	background-size: cover; background-attachment: fixed;}

h1,h2,h3,h4,h5,h6,p{
	margin: 0px;
	padding: 0px;
}

.full-fluid{float:left; width:100%;}

// PADDING
.no-gutter{padding:0 !important;}
.pad-left-null{padding-left: 0!important;}
.pad-right-null{padding-right: 0!important;}

a, a:hover{text-decoration:none;}
.no-floating{float:none;}
.capitalize{text-transform: uppercase;}
h1{font-size: $font-bigger;}
ul{margin: 0px; padding: 0px; list-style: none;}
.pointer{cursor: pointer;}
.tan-red-bg{background: $nhc-red;}
.tan-yellow-bg{background: $nhc-tan-yellow;}
.tan-green-bg{background: $nhc-tan-green;}




/* ========================================== 
=============================================

				GLOBAL STYLE 
		
========================================== 
============================================= */


.material-icons.icon-sm{
	font-size:$font-bigger; 
	@include respond-to($medium-intermediate-2){
		font-size: $font-medium-intern;
	}
	@include respond-to($extra-samll-intemediate){
		font-size:20px;
	}
}


.rel-position{
	position: relative;
}

.gutter_btm_20{
	margin-bottom: 20px;
}

/* ========================================== 
=============================================

				LOGIN SCREEN 
		
========================================== 
============================================= */


// CUSTOME DROP DOWN

.custom-dropdown{float:left; padding:5px 8px;position:relative; cursor:pointer;background: #ccc;padding: 9px 5px;
	/* ============================ FOR INPUT TEXT FIELD ============================ */
	input[type="text"]{ color: transparent;    cursor: pointer;    text-align: center; width: 100%; background: none;border: none;}
	i{
		position: absolute;
		right: 10px;
		top: 50%;
		@include transform(translate(-0%,-50%));
		z-index: 999;
	}
	@include respond-to($extra-samll-landscape){
		width: 100%;
		margin-right: 5px;
	}
}

.custom-dropdown > a{ float:left; height:20px; float:left; width:100%;  text-decoration:none; }

.custom-dropdown.show > ul{width:100%; margin:0; height:inherit;opacity:1;z-index: 99;}

.custom-dropdown > ul{height:0px;overflow-y:auto; overflow-x:hidden;margin:0;/* display:none; */position:absolute; top:0; left:0;border:1px solid #333; padding:0px; width:100%; opacity:0;transition:all 0.5s ease;background: $nhc-white;}

.custom-dropdown li.sub-list > ul{/* display:none; */ height:0;overflow-y:auto; overflow-x:hidden; opacity:0; transition:all 0.5s ease;}

.custom-dropdown li.sub-list.show-sub > ul{/* display:block; */ height:100px;overflow-y:auto; overflow-x:hidden;opacity:1;background: #f3f3f3;transition:all 0.5s ease;}

.custom-dropdown.prohibeted > ul{/* display:block; */ margin:0; height:150px;transition:all 0.5s ease; opacity:1;}

.custom-dropdown.prohibeted.show > ul{/* display:none; */  height:0;overflow-y:auto; overflow-x:hidden; opacity:0;transition:all 0.5s ease;}

.custom-dropdown li{padding:8px 20px;line-height: 25px;border-bottom:1px solid #f9f9f9;transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; margin:1px;}

.custom-dropdown li:hover{background:#f9f9f9;}

.sub-list.show-sub:hover {background: none;}

.sub-list > i{transition:all 0.5s ease;}

.sub-list.show-sub > i {transform: rotate(90deg);transition:all 0.5s ease;}


// ============== FIXED HEADER SCROLLABLE TABLE ===================

.table-fixed  {
	thead{
	width: 97%;
	tr{
		th{
			float: left;
			border-bottom-width: 0;
		}
	}
  }
}
.table-fixed  {
	tbody{
		height: 230px;
		overflow-y: auto;
		width: 100%;
		td{
			float: left;
			border-bottom-width: 0;
		}
  }
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}


// ================ PANEL HEADING
.panel-default{
	> .panel-heading{
		background:$nhc-blue;
	}
} 







