@import 'variable';
@import 'font';
@import 'elegant';
@import 'mixins';

/* ========================================== 
=============================================

				UNIVERSAL STYLE 
		
========================================== 
============================================= */

* {
    @include transition(all 0.3s ease .0s);
}

html {
    height: 100%;
}

body {
    color: $semi-white;
    margin: 0px;
    font-family: 'latoregular';
    height: 100%;
    min-height: 100%;
    padding-top: 170px;
    background: url("../images/bg-services.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

.full-fluid {
    float: left;
    width: 100%;
}

// PADDING
.no-space {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pad-left-null {
    padding-left: 0!important;
}

.pad-right-null {
    padding-right: 0!important;
}

.space_bottom_90 {
    padding-bottom: 90px!important;
}

// MARGINS
.gutter-md-10 {
    margin-top: 20px;
    margin-bottom: 20px;
}

a,
a:hover {
    text-decoration: none;
}

.no-floating {
    float: none !important;
}

.capitalize {
    text-transform: uppercase;
}

h1 {
    font-size: $font-bigger;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.pointer {
    cursor: pointer;
}

.align-right{text-align: right;}


/* ========================================== 
=============================================

				GLOBAL STYLE 
		
========================================== 
============================================= */

.rel-position {
    position: relative;
}

.gutter_btm_20 {
    margin-bottom: 20px;
}


/* ========================================== 
=============================================

				LOGIN SCREEN 
		
========================================== 
============================================= */

// CUSTOME DROP DOWN
.custom-dropdown {
    float: left;
    position: relative;
    cursor: pointer;
    background: $jungle-green;
    padding: 7px 5px;
    border: 1px solid $oxley-dark-green;
    width: 90px;
    @include border-radius(3px);
    /* ============================ FOR INPUT TEXT FIELD ============================ */
    input[type="text"] {
        color: $white;
        cursor: pointer;
        width: 100%;
        background: none;
        border: none;
    }
    i {
        position: absolute;
        right: 5px;
        top: 50%;
        @include transform(translate(-0%, -50%));
        z-index: 999;
        color: $white;
    }
    @include respond-to($extra-samll-landscape) {
        width: 100%;
        margin-right: 5px;
    }
}

.custom-dropdown>a {
    float: left;
    height: 20px;
    float: left;
    width: 100%;
    text-decoration: none;
}

.custom-dropdown.show>ul {
    width: 100%;
    margin: 0;
    height: inherit;
    opacity: 1;
    z-index: 99;
}

.custom-dropdown>ul {
    height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    /* display:none; */
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #333;
    padding: 0px;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    background: $white;
}

.custom-dropdown li.sub-list>ul {
    /* display:none; */
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.custom-dropdown li.sub-list.show-sub>ul {
    /* display:block; */
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    background: #f3f3f3;
    transition: all 0.5s ease;
}

.custom-dropdown.prohibeted>ul {
    /* display:block; */
    margin: 0;
    height: 150px;
    transition: all 0.5s ease;
    opacity: 1;
}

.custom-dropdown.prohibeted.show>ul {
    /* display:none; */
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.custom-dropdown li {
    padding: 8px;
    line-height: 25px;
    border-bottom: 1px solid #f9f9f9;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin: 1px;
}

.custom-dropdown li:hover {
    background: #f9f9f9;
}

.sub-list.show-sub:hover {
    background: none;
}

.sub-list>i {
    transition: all 0.5s ease;
}

.sub-list.show-sub>i {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

// ============== FIXED HEADER SCROLLABLE TABLE ===================
.table-fixed {
    thead {
        width: 100%;
        color: $white;
        tr {
            th {
                float: left;
                border-bottom-width: 0;
                font-size: $font-small;
            }
        }
    }
}

.table-fixed {
    tbody {
        height: 230px;
        overflow-y: auto;
        width: 100%;
        td {
            float: left;
            border-bottom-width: 0;
        }
    }
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

// ================ PANEL HEADING
.panel-default {
    background: transparent;
    >.panel-heading {
        background: $light-grey;
        float: left;
        width: 100%;
        .table-textbox {
            margin: 0 5px;
            float: left;
            input[type="text"] {
                float: left;
                background: $white;
                border: 1px solid $lighter-grey;
                @include border-radius(3px);
                padding: 8px 5px;
            }
        }
    }
    &.panel {
        border-width: 3px;
    }
}

.green-3d-btn {
    background: $jungle-green;
    @include border-radius(4px);
    @include box-shadow( 0px,
    3px,
    0px,
    1px rgba(22, 131, 92, 1));
    padding: 5px 8px;
    border: none;
    font-family: 'latobold';
    font-weight: bold;
    &.btn-transparent {
        background: none;
        @include box-shadow( 0px,
        1px,
        0px,
        1.85px rgba(185, 189, 190, 1));
        color: rgba(185, 189, 190, 1);
        font-size: 32px;
        margin-right: 25px;
        margin-top: -57px;
    }
}

.card {
    padding-top: 30px;
    padding-bottom: 30px;
    @include respond-to($mobile) {
        padding-bottom: 30px !important;
    }
    .card_heading {
        position: relative;
        padding-bottom: 45px;
        font-family: 'latobold';
        i {
            font-size: 42px;
            margin-bottom: 20px;
            display: inline-block;
        }
        span {
            color: $semi-grey;
            font-size: $font-medium;
            font-family: 'latobold';
        }
        &::after {
            border-bottom: 1px solid $semi-white;
            bottom: 0;
            content: "";
            left: 50%;
            position: absolute;
            width: 50%;
            @include transform(translateX(-50%));
        }
    }
    .card_body {
        margin: 20px 0;
        float: left;
        width: 100%;
        ul {
            li {
                font-family: 'latobold';
                font-size: $font-semimedium;
                a {
                    display: block;
                    color: $semi-white;
                    padding: 3px 0;
                }
            }
        }
    }
}

.btn_bottom {
    position: absolute;
    bottom: 25px;
    @include transform(translateX(-50%));
    left: 50%;
    @include respond-to($mobile) {
        position: inherit;
        @include transform(none);
        left: inherit;
        bottom: inherit;
        text-align: center;
    }
}

.bordered {
    border: 2px solid $semi-white;
    @include border-radius(4px);
}

.border_right_bottom {
    border-right: 1px solid $semi-white;
    @include respond-to($mobile) {
        border-bottom: 1px solid $semi-white !important;
        border-right: 0px !important;
    }
}

.grid-vert-equal {
    @include equal-height;
    >section.row {
        @include respond-to($mobile) {
            margin-left: 0px;
            margin-right: 0px;
        }
        >article {
            @include respond-to($mobile) {
                margin-bottom: 30px;
            }
        }
    }
}

.vert_mid{vertical-align: middle;}

.btn_md {
    font-size: 19px;
    padding: 10px 12px;
}

.btn_me_wide{
    @extend.btn_md;
    padding: 6px 43px;
}

.btn_sm {
    font-size: 14px;
    padding: 5px 10px;
}

.btn_icon {
    i {
        float: left;
        font-weight: bolder;
        margin: 5px 9px 0 0;
    }
}

// PRODUCT DETAIL PAGE
.product-detail {
    ul {
        li {
            float: left;
            width: 100%;
            padding: 5px 0;
            overflow-wrap: break-word;
            span {
                &:first-child {
                    text-align: right;
                }
                &:last-child {
                    text-align: left;
                }
            }
        }
    }
    .card_heading {
        padding-bottom: 26px;
        i {
            display: inline-block;
            font-size: 32px;
            margin: 0 10px;
        }
        h2 {
            display: inline-block;
        }
    }
}

.product-detail {
    .action_buttons {
        display: table;
		margin: auto;
		text-align: center;
		width: 90%;
        li {
            display: inline-block;
			float: none;
			margin: 0 10px;
			width: auto;
        }
    }
}
.expands{
    padding: 50px 0;
	&.white{
		background: $white;
		div{
			position: relative;
			>ul{
				float: left;
				margin: 50px 0;
				width: 100%;
				li{
					background: $middle-grey;
					float: left;
					padding: 10px 15px;
					width: 100%;
                    color: $bright-sky;
                    margin: 10px 0;
					div.pull-left{
						p{
							font-family: 'latobold';;
							font-size: $font-medium;
						}
						span{
							background: $white;
							padding:2px 5px;
							color: $jungle-green;
						}
                    }
                    span.counts{
                        color:$purple;
                        font-family: 'latobold';
                        font-size: $font-semimedium;
                    }

					button{
						color: $white;
						position: absolute;
						@include transform(translate(0%,-50%));
						top: 50%;
						right: 15px;
					}
					
				}
			}
		}
	}
}
.firt_child{
	margin-top: 15px;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	&.text_align{
		li{
			color: $black !important;
			span{
				&:first-child{
					text-align: right;
				}
				&:last-child{
					text-align: left;
					font-weight: bold;
				}
			}
		}
	}
}


footer{
    background: $footer-bg;
    padding: 30px 0;
    .semi_dark.title{
        margin-bottom: 10px;
        font-size: $font-semimedium;
    }
    .semi_dark{
         color: $middle-grey;
         margin-bottom: 15px;
    }
    li{
        a{
            display: block;
            color:$white;
            line-height: 22px;
            font-weight: bold;
        }
    }

}